h1 {
  font-family: Brush Script MT, cursive;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-right: 60px;
  margin-left: 60px;
}

ul,
section {
  font-family: Brush Script MT, cursive;
  font-size: 18px;
  margin-right: 60px;
  margin-left: 60px;
}

.headlines {
  background-color: goldenrod;
  color: grey;
  text-align: center;
  border-style: double;
  border-color: white;
  padding: 5px 0px;
  animation: fadein 3s;
}

.bottom-border {
  border-bottom: 5px dashed grey;
}

.items {
  text-align: center;
}

.country-list {
  margin-left: 50px;
  color: brown;
  height: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px 5px;
}

.country {
  padding: 0px 10px 0px 0px;
  align-self: auto;
  flex-shrink: 2;
}

.images {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 15px 5px;
}

.image {
  align-self: stretch;
}

.image figcaption {
  text-align: center;
}

#table_item {
  width: 100%;
  border: 1px solid;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .country-list {
    height: 250px;
    text-align: center;
    display: inline-block;
  }
}

/* keyframes */

@keyframes fadein {
  0% { opacity: 0; }
  50% {opacity: 0.5; background-color: grey; color: goldenrod;}
  100% { opacity: 1; }
}

@keyframes rotate {                        
  to { transform: rotate(360deg); height: 280px; width: 350px; }           
}

@keyframes shrink {
  to {height: 280px; width: 350px; }
}

@keyframes zoom-in {
  0% {transform: scale(1)}
  50%  {transform: scale(1.2)}
  100% {transform: scale(1)}
}


.image-rotate{
  animation: rotate 5s linear infinite;
  animation-fill-mode: unset;  
  animation-play-state: paused;               
}

.image-rotate:hover{
  animation-play-state: running;              
}

.image-shrink {
  animation-name: shrink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused; 
}

.image-shrink:hover {
  animation-play-state: running;
}

.image-zoom {
  animation-name: zoom-in;
  animation-duration: 2s;
  transition: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite;
  animation-play-state: paused; 
}

.image-zoom:hover {
  animation-play-state: running;
}


@keyframes border-dance {
  0% {
    background-position: 10% 0, 100% 100%, 0% 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 10%, 100% 100%;
  }
}


.border {
  padding: 4px;
  margin-right: 60px;
  margin-left: 60px;
  background: linear-gradient(90deg, goldenrod 50%, transparent 50%), linear-gradient(90deg, goldenrod 50%, transparent 50%), linear-gradient(0deg, goldenrod 50%, transparent 50%), linear-gradient(0deg, goldenrod 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
  animation: border-dance 25s infinite linear;
}

